header {
  margin: 0;
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items:center;
  padding-top:92px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 96px;
  width: 1100px;
}
.header_menu {
  width: 391.48px;
  height: 22px;
  gap: 26px;
  list-style:circle;
  display: flex;
  align-items: baseline;
  align-content: space-between;
}
.header__menu_list_main-menu_li {
  display: block;
}
.header_menu-item_active .header__links-list-item {
  text-decoration: none;
}
.header_logo-image {
  width: 148px;
  height: 105px;
  display: block;
}
address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  font-size: 18px;
  width: 239.48px;
  align-items: flex-start;
}
body {
  margin: 0;
  width: 1100px;
  height: 3028px;
  background-color:#FFFFFF;
  font-family: Raleway, sans-serif;
  font-weight: normal;
}
.cover {
  background-image: url('cover.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 1100px;
  height: 757px;
  position: relative;
  z-index: -1;
  box-sizing: border-box;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.55);
  inset: 0;
}
.cover_title {
  display: grid;
  grid-template-columns:1fr;
  grid-template-rows: repeat(3, auto);
  row-gap: 25px;
  color: #FFFFFF;
  padding: 165px 50px 106px;
  font-size: 50px;
  line-height: 1.1;
  text-transform: uppercase;
}
.accent--span {
  align-self: center;
}
.accent--span_text-left {
  grid-row: 1;
  justify-self: start;
  width: 286px;
  height: 115px;
  font-size: 115px;
  letter-spacing: 10px;
}
.accent--span_text-center {
  grid-row: 2;
  justify-self: center;
  text-align: center;
  font-size: 125px;
  width: 339px;
  height: 115px;
  letter-spacing: 10px;
}
.accent--span_text-right {
  text-align: right;
  grid-row: 3;
  justify-self: end;
  width: 387px;
  height: 115px;
  font-size: 111px;
  letter-spacing: 15px;
  margin-right: 10px;
}
.cover_description {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #FFFFFF;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
}
.cover__description-text {
  display: flex;
  justify-content: center;
  align-items: center;
  word-spacing: 29px;
  letter-spacing: 1px;
  font-size: 17.5px;
  width: 637px;
  height: 28px;
}
.bet-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  font-size: 18.5px;
  width: 256px;
  height: 51px;
}
.lots {
  width: 1052px;
  margin-top: 180px;
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 120px;
}
.lots__heading {
  width: 121px;
  height: 47px;
  font-size: 40px;
  text-transform: uppercase;
  padding-left: 40px;
}
.lots__card-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 25px;
  padding-bottom: 30px;
  color: #FFFFFF;
  padding-top: 74px;
}
.lots__card-list-item_film {
  width: 334px;
  height: 596px;
  position: relative;
  z-index: -1;
  background-image: url('card-lot-01.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 20px;
}
.film {
  text-decoration: none;
  width: 334px;
  height: 596px;
}
.film_title {
  padding-top: 48px;
  padding-left: 40px;
  padding-right: 40px;
  text-decoration: underline;
  text-transform: uppercase;
}
.film_text {
  padding-bottom: 48px;
  padding-left: 40px;
  padding-right: 40px;
}
.article_film {
  width: 334px;
  height: 596px;
  text-decoration: none;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
}
.lots__card-list-item_book {
  width: 334px;
  height: 596px;
  position: relative;
  z-index: -1;
  background-image: url('card-lot-02.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 20px;
}
.book {
  width: 334px;
  height: 596px;
  text-decoration: none;
}
.book_title {
  padding-top: 48px;
  padding-left: 40px;
  padding-right: 40px;
  text-decoration: underline;
  text-transform: uppercase;
}
.book_text {
  padding-bottom: 48px;
  padding-left: 40px;
  padding-right: 40px;
}
.article_book {
  width: 334px;
  height: 596px;
  text-decoration: none;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
}
.lots__card-list-item_paint {
  width: 334px;
  height: 596px;
  position: relative;
  z-index: -1;
  background-image: url('card-lot-03.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 20px;
}
.paint {
  width: 334px;
  height: 596px;
  text-decoration: none;
}
.paint_title {
  padding-top: 48px;
  padding-left: 40px;
  padding-right: 40px;
  text-decoration: underline;
  text-transform: uppercase;
}
.paint_text {
  padding-bottom: 48px;
  padding-left: 40px;
  padding-right: 40px;
}
.article_paint {
  width: 334px;
  height: 596px;
  text-decoration: none;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
}
.lots__look-more-link {
  width: 192px;
  padding-top: 30px;
  padding-left: 40px;
}
.about {
  width: 1052px;
  padding-top: 35px;
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 180px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 72px;
  align-items: start;
  
}
.about__column_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 35px;
  padding-left: 47px;
}
.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  grid-column: 1;
  justify-items: center;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__logo-image {
  width: 148px;
  height: 105px;
  justify-items: center;
}
.about__column_text {
  display: flex;
  flex-direction: column;
  gap: 100px;
  justify-content: end;
  width: 693px;
}
.about__title {
  grid-column: 2;
  text-transform: uppercase;
  font-size: 33px;
  width: 291px;
  padding-top: 3px;
  margin-top: 136px;
  text-align: left;
}
.about__text {
  grid-column: 2;
  width: 100%;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer {
  font-family: Raleway, sans-serif;
  font-weight: normal;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  justify-items: center;
  width: 1100px;
}
.footer_menu-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer_menu-item_active .footer_menu-link {
text-decoration: none;
}
.footer__social-list {
  width: 240px;
  list-style-type: none;
  display: flex;
  gap: 48px;
}
.footer_logo-image {
  width: 48px;
  height: 48px;
}









