.header {
  margin: 0;
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items:center;
  padding-right: 70px;
  width: 1100px;
}
.header_menu {
  width: 391.48px;
  margin-right: 36.52px;
  margin-top: 133px;
  margin-bottom: 138px;
  margin-left: 50px;
  gap: 32.5px;
  list-style:circle;
  display: flex;
  align-items: baseline;
  font-size: 18px;
  text-underline-offset: 4px;
}
.header__menu_list_main-menu_li {
  display: block;
}
.link_active {
  text-decoration: none;
}
.header_logo-image {
  width: 148px;
  height: 105px;
  display: block;
}
.header_auction_address {
  font-style: normal; 
  display: flex;
  flex-direction: column;
  justify-self: end;
  font-size: 18px;
  width: 240px;
  line-height: 24.3px;
  margin-right: 50px;
  margin-left: 184px;
  align-items: flex-start;
}
body {
  margin: 0;
  width: 1100px;
  background-color:#FFFFFF;
  font-family: Raleway, sans-serif;
  font-weight: normal;
}
.cover {
  background-image: url('cover.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1100px;
  min-height: 757px;
  position: relative;
  z-index: 0;
  box-sizing: border-box;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.55);
  inset: 0;
}
.cover_title {
  display: grid;
  grid-template-columns:1fr;
  grid-template-rows: repeat(3, auto);
  row-gap: 27px;
  color: #FFFFFF;
  padding: 165px 50px 106px;
  font-size: 100px;
  line-height: 1.1;
  text-transform: uppercase;
  z-index: 1;
  position: relative;
}
.accent--span {
  font-size: 100px;
  align-self: center;
}
.accent--span_text-left {
  grid-row: 1;
  justify-self: start;
  width: 286px;
  letter-spacing: 28px;
}
.accent--span_text-center {
  grid-row: 2;
  justify-self: center;
  text-align: center;
  width: 339px;
  letter-spacing: 30px;
}
.accent--span_text-right {
  text-align: right;
  grid-row: 3;
  justify-self: end;
  width: 387px;
  letter-spacing: 30px;
}
.cover_description {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #FFFFFF;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
  position: relative;
  z-index: 1;
}
.cover__description-text {
  display: flex;
  justify-content: center;
  align-items: center;
  word-spacing: 12px;
  font-size: 22px;
  letter-spacing: 1px;
  width: 637px;
  margin-right: 107px;
}
.bet-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  font-size: 22px;
  width: 256px;
  height: 51px;
}
.lots {
  width: 1052px;
  margin-top: 180px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 120px;
}
.lots__heading {
  width: 121px;
  font-size: 40px;
  text-transform: uppercase;
  margin-left: 40px;
  z-index: 1;
}
.lots__card-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  width: 334px;
  position: relative;
  z-index: 0;
  gap: 25px;
  padding-bottom: 30px;
  color: #FFFFFF;
  margin-top: 27px;
}
.lots_link {
  text-decoration: none;
  width: 334px;
}
.card {
  display: block;
  width: 334px;
  min-height: 596px;
  text-decoration: none;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card_title {
  font-size: 22px;
  font-weight: 700px;
  padding-top: 48px;
  padding-left: 40px;
  padding-right: 40px;
  text-decoration: underline;
  text-transform: uppercase;
  z-index: 1;
}
.card_text {
  font-size: 20px;
  padding-top: 30px;
  padding-bottom: 48px;
  padding-left: 40px;
  padding-right: 40px;
  z-index: 1;
}
.card_type_film {
  background-image: url('card-lot-01.jpg');
}
.card_type_book {
  background-image: url('card-lot-02.jpg');
}
.card_type_paint {
  background-image: url('card-lot-03.jpg');
}
.lots__look-more-link {
  width: 192px;
  padding-top: 30px;
  margin-left: 40px;
  font-size: 20px;
  font-weight: 400px;
  text-underline-offset: 4px;
}
.about {
  max-width: 1052px;
  margin-top: 123px;
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 185px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 72px;
  align-items: start;
}
.about__column_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 35px;
  margin-left: 47px;
}
.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  grid-column: 1;
  justify-items: center;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__logo-image {
  width: 148px;
  height: 114px;
  justify-items: center;
}
.about__column_text {
  display: flex;
  flex-direction: column;
  gap: 100px;
  justify-content: end;
  width: 693px;
}
.about__title {
  grid-column: 2;
  text-transform: uppercase;
  font-size: 40px;
  width: 291px;
  margin-top: 136px;
  text-align: left;
}
.about__text {
  grid-column: 2;
  width: 688px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer {
  font-family: Raleway, sans-serif;
  font-weight: normal;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  gap: 12px;
  justify-items: center;
  width: 1100px;
  padding-bottom: 80px;
}
.footer_auction_address {
  font-size: 18px;
  width: 240px;
  font-style: normal; 
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  line-height: 24.3px;
}
.footer_menu-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 164px;
  margin-right: 176px;
  margin-left: 157px;
  padding-left: 15px;
  font-size: 18px;
}
.footer_menu-item_active .footer_menu-link {
  text-decoration: none;
}
.footer__social-list {
  width: 240px;
  list-style-type: none;
  display: flex;
  gap: 48px;
  margin-right: 50px;
}
.footer_logo-image {
  width: 48px;
  height: 48px;
}









